*{
    /* margin: 0px; */
    padding: 0px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin: auto;
    margin-top: 60px;
    padding: 5px;
    background-color: whitesmoke;
    max-width: 40%;
    border-radius: 12px;
    margin-top: auto;

}

input{
    padding: 12px;
    font-weight: bolder;
    border-radius: 12px;
    border: solid thick;
    border-color: whitesmoke;
    width: 100%;
}
.header{
    text-align: center;
    font-weight: bold;
    color:darkslategrey
}

.input-group{
    width:100%;
}
#regForm{
    visibility:visible ;
}
 /* #loginForm{ 
    /* display:none; 
}*/
button{
    padding: 11px;
    font-weight: bold;
    border-radius: 6px;
    border: solid thin;
    background-color: rgb(138, 189, 190);
    border-color: whitesmoke;

}
a{
    text-decoration: none  ;
    color: darkcyan;
}
small{
    padding:4px;
}